{% if page.url contains "aachen" %}
    <title>HUT.de - STORE Aachen | Hüte & Mützen in der Adalbertstraße in Aachen</title>
    <meta name="description" content="Hut.de in Aachen - Vom klassischen Filzhut bis zur bewährten Schirmmütze, von der trendaktuellen Strickmütze bis zum dazu passenden Schal oder Handschuh bietet der Hut.de Store in Aachen eine große Auswahl an Kopfbedeckungen.">

{% elsif page.url contains "bonn" %}
    <title>HUT.de - STORE Bonn | Hüte & Mützen direkt in der Bonner Innenstadt</title>
    <meta name="description" content="Hut.de in Bonn - Vom klassischen Filzhut bis zur bewährten Schirmmütze, von der trendaktuellen Strickmütze bis zum dazu passenden Schal oder Handschuh bietet der Hut.de auf der belebten Salzstraße nahe dem Prinzipalmarkt und der Lambertikirche eine große Auswahl an Kopfbedeckungen.">

{% elsif page.url contains "koeln" %}
    <title>HUT.de | Store Köln - Hüte & Mützen</title>
    <meta name="description" content="Hut.de in Köln - Gut behütet befindet sich seit September 2008 der Stetson/HUT.de Store mitten auf der Mittelstraße im trendbewussten Köln, einer der Topadressen deutschlandweit in Sachen Mode. Wer auf der Suche nach einer exklusiven Auswahl an Hüten, Mützen und Kappen ist, der wird hier mit Sicherheit fündig. Eine optisch klare Linie und fachkompetente sowie freundliche Mitarbeiter helfen dabei, den Hut an den Mann und natürlich auch an die Frau zu bringen.">

{% else %}
    <title>HUT.de - STORE MÜNSTER | Hüte & Mützen direkt an der Lambertikirche in Münster-Innenstadt</title>
    <meta name="description" content="Hut.de in Münster - Vom klassischen Filzhut bis zur bewährten Schirmmütze, von der trendaktuellen Strickmütze bis zum dazu passenden Schal oder Handschuh bietet der Hut.de auf der belebten Salzstraße nahe dem Prinzipalmarkt und der Lambertikirche eine große Auswahl an Kopfbedeckungen.">
{% endif %}