<div class="online-shop">
    <div class="headline">
        Kaufen Sie in unserem Online-Shop ein
    </div>
    <hr>
    <div class="grid">
        <div class="col-5_xs-12_sm-6">
            <div class="services">
                <img src="../assets/img/onlineshop.svg" alt="Onlineshop Hut.de" class="logo">
                <div class="card shipping">
                    <div class="text">
                        Gratis Versand & <br>
                        Rückversand
                    </div>
                </div>
                <div class="card time">
                    <div class="text">
                        1-2 Tage
                        <br> Lieferzeit
                    </div>
                </div>
                <div class="card refund">
                    <div class="text">
                        100 Tage
                        <br> Rückgaberecht
                    </div>
                </div>
            </div>
        </div>
        <div class="col-7_xs-12_sm-6">
            <div class="description card">
                Einkaufen bei HUT.de ist schnell, einfach und risikolos. Sowohl der Versand Ihrer Hüte, Mützen, Kopftücher und Kappen als
                auch der Rückversand ist für Sie kostenlos.
                <br>
                <br>Darüber hinaus haben Sie ein
                <b>100-tägiges Rückgaberecht</b> auf reguläre wie auch reduzierte Ware und Sonderangebote. Für weitere Fragen
                stehen wir Ihnen gern per E-Mail unter
                <b>fragen@hut.de</b>
                zur Verfügung und sind unter der Telefonnummer
                <b>0800 4887467</b> (gebührenfrei aus dem deutschen Festnetz) montags bis freitags von 8.00 Uhr bis 17.00 Uhr
                direkt für Sie erreichbar.
                <br>
                <br>Das Team von HUT.de wünscht Ihnen viel Spaß beim Einkaufen, im Webshop für den Hut, die Mütze und Kappe!
                <button>Onlineshop</button>
            </div>
        </div>
    </div>
</div>